RUNNING THE WEBSITE
- First, download npm from the internet
- curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash
- export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")" -s "$NVM_DIR/nvm.sh" ] [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
- nvm install 20
- nvm use 20
- npm install -g npm@latest
- npm run dev

PACKAGES FOR CODE
run packages.json